@import './variables.scss';

.AllNews {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    width: 25rem;
    height: 10rem;
    margin: 0.7rem;
    border-radius: 1.2rem;
    background-color: rgba(255, 255, 255, 0.678);
    justify-content: flex-start;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.897);
  }
  .Link {
    text-decoration: none;
    color: black;
  }

  p {
    position: absolute;
    color: rgb(71, 70, 70);
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 1rem;
  }
}
