@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: $Montserrat;
  background: rgb(5, 13, 22);
  background: linear-gradient(
    350deg,
    rgb(126, 28, 192) 0%,
    rgb(234, 124, 248) 50%,
    rgb(84, 11, 102) 100%
  );

  min-height: 100vh;
  //font-family: 'Righteous', cursive;
}
